
    <style>

    </style>

    <aside>
        <h3>Our Services</h3>
        <nav>
            <ul>
                <li><a routerLink="/form">Form</a></li>
                <li><a routerLink="/onewayBinding">Two Way</a></li>
                <li><a routerLink="/twowayBinding">One Way</a></li>
                <li><a routerLink="/parentChildCommunication">parent child</a></li>
                <li><a routerLink="/structuratDirectives">structural/ pipes</a></li>
                <li><a routerLink="/attributrDirectives">Attribute/ pipes</a></li>
                <li><a routerLink="/list">User Form</a></li>
            </ul>
        </nav>  
    </aside>
