<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <style>
        aside ul{
            display: flex;
            flex-direction: column;
            list-style: none;
        }
    </style>
</head>
<body>
    <aside>
        <h3>Our Services</h3>
        <ul> 
            <li><a href="#">Mindset Therapy</a></li>
            <li><a href="#">Unwavering Focus</a></li>
            <li><a href="#">Using Subconscious Mind</a></li>
            <li><a href="#">Mind Re-wiring</a></li>
        </ul>
    </aside>
</body>
</html>