<aside id="mainSidebar">
    <div class="sideHeader displayFlex justifyContentCenter alignItemsCenter">
        <h3>Angular Tasks</h3>
    </div>
    <div class="sidebarContent">
        <nav>
            <ul>
                <li><a routerLink="/form">Form</a></li>
                <li><a routerLink="/onewayBinding">One Way</a></li>
                <li><a routerLink="/twowayBinding">Two Way</a></li>
                <li><a routerLink="/parentChildCommunication">parent child</a></li>
                <li><a routerLink="/structuratDirectives">structural/ pipes</a></li>
                <li><a routerLink="/attributrDirectives">Attribute/ pipes</a></li>
                <li><a routerLink="/list">User List</a></li>
                <li><a routerLink="/resume-form">Resume Form</a></li>
                <li><a routerLink="/assessment">Assessment</a></li>
            </ul>
        </nav>
    </div>
</aside>