.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f7f8fa;
}
.headerArea {
    flex-basis: 60px;
}
.mainArea {
    flex-grow: 1;
    overflow: auto; 
}