<div class="userform">
    <form [formGroup]="userForm" (ngSubmit)="saveData()">
        <div class="firstName formRow">
            <label for="firstName">First Name: </label>
            <input type="text" name="firstName" formControlName="firstName" id="firstName"
                placeholder="Enter First Name">
            
        </div>
        <div class="lastName formRow">
            <label for="lastName">Last Name: </label>
            <input type="text" name="lastName" formControlName="lastName" id="lastName" placeholder="Enter Last Name">
        </div>
        <div class="email formRow">
            <label for="email">Enter Email: </label>
            <input type="email" name="email" formControlName="email" id="email" placeholder="Enter Email Address">
        </div>
        <div class="phoneNumber formRow">
            <label for="phoneNumber">Enter Phone Number: </label>
            <input type="tel" name="phoneNumber" formControlName="phoneNumber" id="phoneNumber"
                placeholder="Enter Phone Number">
        </div>
        <div class="gender formRow">
            <div class="genderLabel">
                <label>Enter your Gender: </label>
            </div>
            <div class="genderList">
                <input type="radio" name="gender" formControlName="gender" id="Male" value="Male">
                <label for="Male">Male</label>
                <input type="radio" name="gender" formControlName="gender" id="Female" value="Female">
                <label for="Female">Female</label>
            </div>
        </div>
        <div class="department formRow">
            <label for="department">Choose your department: </label>
            <select id="department" name="department" formControlName="department">
                <option [value]="0" disabled>Open this select menu</option>
                <option *ngFor="let cat of categoryOptions" [value]="cat.id">{{cat.name}}</option>
            </select>
        </div>
        <div class="dateOfEmployement formRow">
            <label for="dateOfEmployement">Enter date of employemnt: </label>
            <input type="date" name="dateOfEmployement" formControlName="dateOfEmployement" id="dateOfEmployement">
        </div>
        <div class="submitButton">
            <button class="btn" type="submit">Submit</button>
            <button type="button" class="btn" (click)="resetForm()">Reset</button>
        </div>
    </form>
</div>


