// general class


#mainSidebar {
    height: 100%;
    flex-direction: column;
    display: flex;
    position: relative;
    overflow: hidden;
}

.sideHeader {
    flex-basis: 60px;
}
#mainSidebar h3{
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    position: absolute;    
}

.userInfo {
    flex-basis: 100px;
}

.userImage{
    figure{
        img{
            width:50px;
            height: 50px;
        }
    }
}

.userDetails{
    flex-direction: column;
    position: absolute;
    left: 3rem;
}

.sidebarContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.sideNav{
    flex-direction: column;
    height: 100%;
    padding: 0 1.5rem;
    justify-content: space-between;
}


.sidebarContent  a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebarContent  a span {
    margin: 0 5px;
    cursor: pointer;
}
// .sidebarContent  li {
//     // margin: 0.8rem 0;
//     // padding: 0.5rem 0.2rem;
//     // background-color: #eaedfc;
//     // border-radius: 10px;
//     // transition: 0.4S all;
// }

// #mainSidebar  li:hover{
// background-color: #eaedfc6b;
// }


.icon{
    font-size: 0.9rem;
}

.navItem a{
    height: 25px;
    white-space: nowrap;
    height: 25px;
    white-space: nowrap;
    margin: 0.8rem 0;
    padding: 1.2rem 0.2rem;
    background-color: #eaedfc;
    border-radius: 10px;
    transition: 0.4S all;
    width: 12rem;
    &:hover{
        background-color: #eaedfc7a;
    }
}


.active-link{
    background-color: transparent;
}