<aside id="mainSidebar">
    <div class="sideHeader displayFlex justifyContentCenter alignItemsCenter">
        <h3 classs="sidebarHeading">Angular Tasks</h3>
    </div>
    <nav class="sidebarContent">
        <ul>
            <li class="navItem"><a routerLink="/form">
                    <span class="icon icon-form"></span>
                    <span class="naVName">Form</span>
                </a>
            </li>
            <li class="navItem"><a routerLink="data-binding/onewayBinding">
                    <span class="icon icon-one-way"></span>
                    <span class="naVName"> One Way</span>
                </a>
            </li>
            <li class="navItem"><a routerLink="data-binding/twowayBinding">
                    <span class="icon icon-two-way"></span>
                    <span class="naVName">Two Way</span>
                </a>
            </li>
            <li class="navItem"><a routerLink="/parentChildCommunication">
                    <span class="icon icon-group"></span>
                    <span class="naVName">parent child</span>
                </a>
            </li>
            <li class="navItem"><a routerLink="/structuratDirectives">
                    <span class="icon icon-pipe"></span>
                    <span class="naVName">structural/ pipes</span>
                </a>
            </li>
            <li class="navItem"><a routerLink="/attributrDirectives">
                    <span class="icon icon-attribute"></span>
                    <span class="naVName">Attribute/ pipes</span>
                </a>
            </li>
            <li class="navItem"><a routerLink="/list">
                    <span class="icon icon-list"></span>
                    <span class="naVName">User List</span>
                </a>
            </li>
            <li class="navItem"><a routerLink="/resume-form">
                    <span class="icon icon-resume"></span>
                    <span class="naVName">Resume Form</span>
                </a>
            </li>
            <li class="navItem"><a routerLink="/assessment">
                    <span class="icon icon-assessment"></span>
                    <span class="naVName">Assessment</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="navItem"><a routerLink="a">
                <span class="icon icon-log-out"></span>
                <span>Log Out</span>
            </a>
        </li>
        </ul>
    </nav>
</aside>