.headerArea{
    width: 95%;
    margin: 0 auto;
    .searchField{
        input{
            width: 30%;
            padding: 0.5rem;
            border-radius: 10px;
            border-width: 1px;
            position: relative;
            &::placeholder{
                font-size: 1.1rem;
            }
        }
        .icon-search{
            position: absolute;
            top: 7%;
            left: 39%;
            font-size: 1.3rem;
        }
    }
    .buttonArea{
        flex-basis: 150px;
        button{
            background-color: #2f6bff;
            border-color: transparent;
            padding: 0.5rem 4rem;
            color: white;
        }
    }
}



.usersList {
    margin-top: 3rem;
}

tr, td{
    text-align: left;
    border-top: 4px solid #f6f7f9;
}


table{
    width:95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    thead{
        tr{
            th{
                padding: 0.85rem 0;
                padding-left: 1rem;
                font-size: 0.85rem;
                color:#c5c6ca
            }
        }
    }
    tbody{
        tr{
            td{
                padding: 0.8rem 0;
                padding-left: 1rem;
                font-size: 1.2rem;
            }
        }
    }
}