<div class="headerArea displayFlex">
    <div class="searchField flexGrow1">
        <input type="search" name="search" id="search" placeholder="Search Here"
            [(ngModel)]="nameSearch">
        <!-- <span class="icon-search"></span> -->
    </div>
    <div class="buttonArea">
        <button class="button addButton" routerLink="add">Add</button>
    </div>
</div>

<!-- {{categories | json}} -->
<div class="usersList">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email id</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Date of Employment</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | filter:nameSearch, let i = index ">
                <td>{{i+1}}</td>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.department | categoryPipe:categories}}</td>
                <td>{{user.dateOfEmployement }}</td>
                <td><button class="button editButton" (click)="editClick(user.id)">Edit</button></td>
                <td><button class="button deleteButton" (click)="deleteClick(user.id)">Delete</button></td>
            </tr>

        </tbody>
    </table>

</div>