<div class="userList">
    <table cellspacing="0" class="userDataList">
        <thead>
            <tr>
                <th>#</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>CLIENT NAME</th>
                <th>EMAIL</th>
                <th>OFFICE</th>
                <th>CONTACT NUMBER</th>
                <th colspan="2">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let data of listData ; let i = index">
                <td>{{i+1}}</td>
                <td>{{data.firstName}}</td>
                <td>{{data.lastName}}</td>
                <td>{{data.clientName}}</td>
                <td>{{data.email}}</td>
                <td>{{data.office}}</td>
                <td>{{data.primaryContactNumber}}</td>
                <td><button (click)="editData(i)">Edit</button></td>
                <td><button (click)="deleteData(i)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>