.userList {
    margin: 5rem 0 0;
    overflow: auto;
    .userDataList {
        width: 95%;
        padding: 1rem;
        text-align: left;
        background-color: white;
        margin: 0 auto;
        border: 1px solid #f6f7f9;
        border-radius: 10px;
        td,
        tr {
            border-top: 4px solid #f6f7f9;
        }
    }
}