fieldset {
    padding: 10px 20px;
}
input, textarea, select{
    width: 100%;
}
// .mainContent {
//     display: flex;
// }
.registrationForm {
    width: 60%;
    margin: auto;
    form{
        width:100%;
    }
}
