.attributeDirectiveComponent {
    width: 80%;
    margin: auto;
}
.attributeHeading {
    text-align: center;
    padding: 1rem 0;
}
.attributeTable{
    width: 100%; 
    text-align: left;
    margin-bottom: 3rem;
}
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
td, th{
    padding: 20px;
}
.colorRed{
    color:red;
}