.actions{
    display: flex;
    justify-content: space-between;
    .add-form-btn {
        margin: 2rem 0;
        background-color: #2f6bff;
    }
}

.table {
    width: 100%;
    padding: 0 5rem;
    border-collapse: collapse;
    text-align: left;
    thead {
        background-color: black;
        color: white;
        th {
            padding: 0.75rem 0;
        }
    }
    tbody {
        td {
            padding: 1rem 0;
        }
    }
}

.btn{
    border-color: transparent;
    color: white;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
}

.btn-edit{
    background-color: #4CAF50;
    
}
.btn-delete{
    background-color: #f44336;
    margin-left: 0.5rem;
}

.filter-notification-icon {
    height: 7px;
    width: 7px;
    background: white;
    right: 4px;
    top: 3px;
    border-radius: 50%;
}

