
<h2>List of Mentors</h2>
<!-- start : form addition section -->
<div class="actions">
    <button class="btn add-form-btn" routerLink="../add">+ Add</button>
    <button class="btn add-form-btn" (click)="filterOverlay()">Filter</button>
</div>
<!-- end : form addition section -->

<!-- start : list section -->

<!-- strat: Mentor list table -->
<table class="table">
    <thead>
        <tr>
            <th>Mentor Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Company</th>
            <th>Department</th>
            <th>City</th>
            <th>Marital Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of mentorList">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
            <td>{{data.gender}}</td>
            <td>{{data.company}}</td>
            <td>{{data.department}}</td>
            <td>{{data.city}}</td>
            <td>{{data.maritalStatus}}</td>
            <td><button class="btn btn-edit" routerLink="/mvp/edit/{{data.id}}">Edit</button>
            <button class="btn btn-delete" (click)="onDelete(data.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
<!-- strat: Mentor list table -->

<!-- end : list section -->


