<div class="mainContent">
    <div class="video">
        <video width="400px" src="/assets/videos/Mindset-Video.mp4" controls></video>
    </div>
    <div class="registrationForm">
        <form action="#" target="_blank" style="width: 400px;">
            <fieldset>
                <legend style="text-align: center;">Registration Form</legend>
                <div style="margin-top:15px;">
                    <div>
                        <label for="fullName">Name : </label>
                    </div>
                    <div>
                        <input type="text" id="fullName" name="fullName" required autofocus placeholder="John Doe">
                    </div>
                </div>
                <div style="margin-top:15px;">
                    <div>
                        <label for="contact">Contact Number : </label>
                    </div>
                    <div>
                        <input type="tel" id="contact" name="contact" required placeholder="99999-99999">
                    </div>
                </div>
                <div style="margin-top:15px;">
                    <div>
                        <label for="email">Email : </label>
                    </div>
                    <div>
                        <input type="email" id="email" name="email" placeholder="sample@gmail.com">
                    </div>
                </div>
                <div style="margin-top:15px;">
                    <div>
                        <label for="websiteName">Enter Website URL : </label>
                    </div>
                    <div>
                        <input type="url" name="websiteName" id="websiteName" placeholder="www.google.com">
                    </div>
                </div>
                <div style="margin-top:15px;">
                    <div>
                        <label for="range">Enter Price Range :<br> (Between 2500-5000 )</label>
                    </div>
                    <div>
                        <input type="range" name="range" id="range" min="2500" max="5000" step="20" value="3000">
                        <output class="myRange" for="range"></output>
                    </div>
                </div>
                <div style="margin-top:15px;">
                    <div>
                        <label for="myTime">Specify time : </label>
                    </div>
                    <div>
                        <input type="time" name="myTime" id="myTime">
                    </div>
                </div>
                <div style="margin-top:15px;">
                    <div>
                        <label for="week">Enter the day : </label>
                    </div>
                    <div>
                        <input type="week" name="week" id="week">
                    </div>
                </div>
                <div style="margin-top:15px;">
                    <div>
                        <label for="color">Select your favourite color: </label>
                    </div>
                    <div>
                        <input type="color" name="color" id="color" style="width: 10%;">
                    </div>
                </div>
                <div style="margin-top:15px;">
                    <div>
                        <label for="services">Select a Service</label>
                    </div>
                    <select name="services" id="services">
                        <option value="select">Select Any Service</option>
                        <option value="mindset-therapy">Mindset Therapy</option>
                        <option value="unwavering-focus">Unwavering Focus</option>
                        <option value="subconscious-mind">Usind Subconscious Mind</option>
                        <option value="mind-rewiring">Mind Re-wiring</option>
                    </select>
                </div>
                <div style="margin-top:15px;">
                    <div>
                        <label for="age">Are you above 18?</label>
                    </div>
                    <div>
                        <label for="yes">Yes</label>
                        <input type="radio" name="yes" id="yes" value="yes" style="width: 5%;">
                        <label for="no">No</label>
                        <input type="radio" name="no" id="no" style="width: 5%;">
                    </div>
                </div>
                <div style="margin-top:15px;">
                    <div>
                        <label for="day-part">What part of the day you prefer?</label>
                    </div>
                    <div>
                        <label for="morning">Morning</label>
                        <input type="checkbox" name="morning" id="morning" style="width: 5%;">
                        <label for="noon">Noon</label>
                        <input type="checkbox" name="noon" id="noon" style="width: 5%;">
                        <label for="evening">Evening</label>
                        <input type="checkbox" name="evening" id="evening" style="width: 5%;">
                    </div>
                </div>
                <div style="margin-top:15px">
                    <div>
                        <label for="message">Enter your message :</label>
                    </div>
                    <div>
                        <textarea name="message" id="message" cols="30" rows="10">

                    </textarea>
                    </div>
                </div>
                <div style="margin-top:15px;">
                    <input type="submit" value="Submit" style="width: 20%;">
                    <input type="submit" value="Submit As Admin" style="width: auto; margin-left: 5px;" formaction="#"
                        formtarget="_blank">
                </div>
            </fieldset>
        </form>
    </div>
</div>