fieldset {
    padding: 10px 20px;
}
input, textarea, select{
    width: 100%;
}
.mainContent {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.registrationForm {
    margin-left: 100px;
}
.svgSection{
    margin-left: 15rem;
}