<div class="mentors-form">

    <h2 class="form-title">{{ formTitle }}</h2>
    <div>
        <form [formGroup]="mentorsForm">
            <div class="form-row">
                <label for="name" class="form-label">Enter Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="form-row">
                <label for="age" class="form-label">Enter Age</label>
                <input type="text" class="form-control" id="age" formControlName="age">
            </div>
            <div class="form-row">
                <label for="city" class="form-label">Enter city</label>
                <input type="text" class="form-control" id="city" formControlName="city">
            </div>
            <div class="form-row">
                <div>
                    <label>Select Your Gender</label>
                </div>
                <div>
                    <input type="radio" class="form-control" id="male" value="male" formControlName="gender">
                    <label for="male" class="form-label">Male</label>
                </div>
                <div>
                    <input type="radio" class="form-control" id="female" value="female" formControlName="gender">
                    <label for="female" class="form-label">Female</label>
                </div>
            </div>
            
            <div class="form-row">
                <label for="company" class="form-label">Select Your Company:</label>
                <select name="comapany" id="company" formControlName="company">
                    <option value="select company" selected>Select Comapany</option>
                    <option value="1rivet">1Rivet</option>
                    <option value="Google">Google</option>
                    <option value="Flipkart">Flipkart</option>
                    <option value="Amazon">Amazon</option>
                </select>
            </div>
            <div class="form-row">
                <label for="department" class="form-label">Select Your department:</label>
                <select name="comapany" id="department" formControlName="department">
                    <option value="select department" selected>Select Department</option>
                    <option value="Frontend">Frontend</option>
                    <option value=".net">.net</option>
                    <option value="Database">Database</option>
                    <option value="UI">UI</option>
                </select>
            </div>
            <div class="form-row">
                <div>
                    <label>Select Your Marital Status</label>
                </div>
                <div>
                    <input type="radio" class="form-control" id="married" value="married"
                        formControlName="maritalStatus">
                    <label for="married" class="form-label">Married</label>
                </div>
                <div>
                    <input type="radio" class="form-control" id="unmarried" value="unmarried"
                        formControlName="maritalStatus">
                    <label for="unmarried" class="form-label">Unmarried</label>
                </div>
            </div>
           
            <button type="submit" class="btn btn-submit" routerLink="/mvp/list" (click)="onSubmit()">Submit</button>
            <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
        </form>
    </div>

</div>