<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <style>
        header nav ul{
            display: flex;
            justify-content: space-evenly;
            list-style: none;
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><img src="/assets/images/mindset-logo.svg" width="100px" alt="mindset-logo image"></a>
        </div>
        <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
        </nav>
    </header>
</body>
</html>