<div class="task1">
    <app-header></app-header>
    <div class="mainContent">
        <app-sidebar></app-sidebar>
        <router-outlet></router-outlet>
        <!-- <app-main></app-main> -->
    </div>
<!-- </div>
<div class="oneWayDataBinding">
    <app-one-way-binding></app-one-way-binding>
</div>
<div class="displayFlex">
    <div class="parentChildDataBinding">
        <app-parent></app-parent>
    </div>

    <div class="twoWay">
        <app-two-way></app-two-way>
    </div>
</div>
<div class="structural">
    <app-structural></app-structural>
</div>
<div class="attributeDirective">
    <app-attribute></app-attribute>
</div> -->