/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.mainContent,
.mainTask {
    height: 100%;
    width: 100%;
}
table {
    overflow: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.displayFlex {
    display: flex;
}
.justifyContentCenter {
    justify-content: center;
}
.alignItemsCenter {
    align-items: center;
}
.flexWrap {
    flex-wrap: wrap;
}
.flexGrow1 {
    flex-grow: 1;
}
.displayBlock {
    display: block;
}
a {
    text-decoration: none;
    color: black;
}
button,
#hamburgerIcon,
a,
#closeIcon {
    cursor: pointer;
}
li {
    list-style: none;
}

.homeSidebar {
    width: 250px;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
    height: 100%;
}

//chexkbox toggle

// toggle sidebar
#hamburger:checked ~ .homeSidebar {
    width: 70px;
}
#hamburger:checked ~ .homeSidebar .userInfo {
    width: 50px;
}

#hamburger:checked ~ .homeSidebar .sidebarHeading,
#hamburger:checked ~ .homeSidebar .userDetails,
#hamburger:checked ~ .homeSidebar .navName {
    transform: translateX(250px);
}
#hamburger,
#closeIcon {
    display: none;
}
#hamburger:checked ~ label #closeIcon {
    left: 20px;
}

#hamburgerIcon,
#closeIcon {
    position: absolute;
    top: 17px;
    left: 30px;
    transition: ease-in-out 0.3s;
    font-size: 1.5rem;
    z-index: 1001;
}

#hamburger:checked ~ .homeSidebar .icon {
    font-size: 1.3rem;
}
#hamburger:checked ~ .homeSidebar .navItem a {
    width: 2.5rem;
}
#hamburger:checked ~ label #hamburgerIcon {
    display: none;
}
#hamburger:checked ~ label #closeIcon {
    display: block;
}

// --------responsive----------------------------------------------------------------

@media only screen and (max-width: 1200px) {
    
}
@media only screen and (max-width: 992px) {
}
// tablet
@media only screen and (max-width: 768px) {
    .homeSidebar {
        position: absolute;
        left: -250px;
        background: #fff;
    }
    #hamburger:checked ~ .homeSidebar {
        width: 250px;
        left: 0;
    }
    #hamburger:checked ~ .homeSidebar .sidebarHeading, #hamburger:checked ~ .homeSidebar .userDetails, #hamburger:checked ~ .homeSidebar .navName {
        transform: translateX(0px);
    }
    #hamburger:checked ~ .homeSidebar .userInfo, #hamburger:checked ~ .homeSidebar .sideNav{
        margin: auto 1rem;
    }
    #hamburger:checked ~ .homeSidebar .navItem a {
        width: 13rem;
    }
}
// mobile
@media only screen and (max-width: 576px) {
    .homeSidebar {
        left: -100%;
       
    }
    #hamburger:checked ~ .homeSidebar{
        width: 100%;
    }
    #hamburger:checked ~ .homeSidebar .navItem a {
        width: 18rem;
    }
}
